# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env
*.pkl

# Node
node_modules/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
keys.txt
annotated_graph.pkl
debugging/

# Logs
*.log 